<html>

<head class="header">
    <meta charset="utf-8">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-family: 'FontAwesome';
        }

        view {
            height: 90%;
            width: 90%;
            border: solid 1px;
        }
        #app {
            height: 100%;
            width: 100%;
        }
    </style>
    <!--    <link rel="stylesheet" href="font/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <div class="view">
        <div id='app'></div>
    </div>
    <script src="bundle.js"></script>
</body>

</html>
