.h_iconDropDown_itens {
    right: 55px;
    top: 40px;
    width: 150px;
    padding: 6px;
    background-color: white;
    border: lightgray solid 1px;
    cursor: pointer;
}


.h_iconDropDown_desktop{
    margin-left: 2%;
    margin-top: 47%;
}

.h_iconDropDown_mobile{
    margin-left: 98%;
    margin-top: 1%;

}

.h_iconDropDown_menu_desktop{
    z-index: 10;
    margin-left: 2%;
    margin-top: -6.2%;
}

.h_iconDropDown_menu_mobile{
    z-index: 10;
    margin-left: 88%;

}
